:root {
    --beige: #FAEBD7;
    --grey: #22323F;
}

*{
   box-sizing: border-box;
   font-family: 'Helvetica', 'Arial', sans-serif;
   background-color: var(--beige);

}

/* styling for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-right: 0%;
    padding-left: 0%;
    background: var(--grey);
    /* border-bottom: 10px; */
}

header h1{
    color: var(--beige);
    background-color: var(--grey);
}

header nav ul li{
    display:inline-flex;
    width: 30%;
    padding-right: 10px;
}


/* styling for "about" section */

.about {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 1rem;
    border-width: 0px;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: var(--grey);
}


aside > *{
    margin: 1%;
    height: 400px; 
}

.about section {
    min-width: 400px;
    max-width: 650px;
}

.about h1 {
    text-align: center;
}


/* styling for "work" container */
.work {
    display: flex;
    flex: 1 0 0;
    flex-wrap:wrap;
    margin-left: 9%;
    margin-right: 9%;
    justify-content:space-around;
    padding: 60px;
    gap: 3rem;
}

.card {
    padding: 10px;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    max-width: 450px;
}

.card img {
    width: 100%;
    min-width: 400px;
}


/* footer styling */
.footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}