*{
    box-sizing: border-box;
}

/* styling for "about" container */
.about {
    display: flex;
    flex-wrap: nowrap;
    border-style: solid;
    border-width: 1px;
    margin: 2%;
    align-items: center;
    
}

#headshot {
  flex: 1;
  width: 50%;
}  

#bio {
    flex: 2
}


/* styling for "work" container */
.work {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    margin: 2%;
}